body{
  /* background-image: url('../images/bg.png'); */
  background-size: cover;
  background-color: rgba(77, 77, 77, 0.315);
  background-repeat: no-repeat;
}

#auth-bg{
   background-image: url('../images/bg.png');
   background-size: cover;
   background-color: rgba(0, 0, 0, 0.315);
   background-repeat: no-repeat;
}

.form-db{
  padding: 14px;
}

.gandia .cc{
  display: inline-block;
}

.ok .okk{
  vertical-align:middle;
}

.ok{
  width: 100%;
}

.horm{
  border: 2px;
}

.kol{
  width: 91%;
  margin-bottom: 10px;
  margin-right: 5px;
  padding: 3px 3px;
  /* margin: 8px 0; */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #e1e6a9cb;
}

.oke-jo{
  float: right;
}

.crdless{
  padding: 10px;
  margin-top: 10px;
}

.no-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21pt;
  font-weight: bold;
  margin-top: 7px;
  padding: 4px;
}

#oke-back{
  float: right;
}

#provinsi{  
  background: #e1e6a9cb;
}
#kotax{  
  background: #e1e6a9cb;
}
#kecamatanx{  
  background: #e1e6a9cb;
}
#years{  
  background: #e1e6a9cb;
}
#calon{  
  background: #e1e6a9cb;
}
#batasan{  
  background: #e1e6a9cb;
}
#luas{  
  background: #e1e6a9cb;
}

.noob{
  width: 100px;
  height: 30px;
}

.form-login{
  width: 380px;
  padding: 20px;
  height: 200px;
  background-color: #ffffff;
  margin-top: 20%;
  position: relative;
  border-radius: 5px;
  margin-left: 37%;
  margin-right: -50%;
  border: outset;
  border-color: rgb(233, 249, 250);
}

.form-login #title-login{
  font-size: 19pt;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: yellow;
}

.form-login .auth-logo{
  width: 50px;
  margin-left: 41.2%;
  margin-top: 10px;
}

.login-bt .login{
  margin-left: 17px;
  position: absolute;
  width: 300px;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 15pt;
  margin-top: 29px;
}
.form-login p{
  margin-top: 20%;
  font-size: 10pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(78, 63, 63);
  margin-left: 32%;
  padding: 3px;
}

.dash-index{
  background: none;
  width: 350px;
  border-radius: 5px;
  border: outset;
  margin-top: 7%;
  padding: 20px;
  position: relative;
  border-color: rgb(230, 230, 230);
}
.dash-index-new{
  background: none;
  width: 350px;
  border-radius: 5px;
  border: outset;
  margin-top: 1%;
  padding: 20px;
  position: relative;
  border-color: rgb(230, 230, 230);
}

.dash-index a{
  width: 300px;
}
.dash-index-new a{
  width: 300px;
}

.dash{
  margin-left: 20px;
}

.dash-val{
  margin-left: 5px;
  padding: 7px;
}